name: AutoCheckIn

on:
  schedule:
    - cron: 0 23 * * * # 7:00
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: checkin
        run: |
          python ./main.py
        env:
          EVER_PHOTO_DATA: ${{ secrets.EVER_PHOTO_DATA }}
          CLOUD189_ACCOUNTS: ${{ secrets.CLOUD189_ACCOUNTS }}
          WX_CORP_ID: ${{ secrets.WX_CORP_ID }}
          WX_APP_ID: ${{ secrets.WX_APP_ID }}
          WX_APP_SECRET: ${{ secrets.WX_APP_SECRET }}
